<article class="card">
    <header class="card-header has-background-white-ter">
        <h1 class="card-header-title">
            <a href="{{ .Permalink }}" class="card__header__link" alt="{{ .Title }}.">
                {{ .Title }}
            </a>
        </h1>
    </header>

    <main class="card-content">
      {{ .Content | truncate 480 }}

      {{ with .Params.tags }}
        <div>
          {{ range . }}
          <a href="/tags/{{ . }}/">#{{ . }}</a>
          {{ end }}
        <div>
      {{ end }}
    </main>

    <footer class="card-footer">
      <h3 class="card-footer-item">
      {{ dateFormat $.Site.Params.posts.dateFormat .Date }}
      </h3>
     </footer>
</article>
